#introduction {
    margin-top: 72px;

    @include md {
        grid-template-columns: 119px auto 119px;
    }

    @include lg {
        grid-template-columns: 227px auto 227px;
    }

    @include xl {
        grid-template-columns: auto 933px auto;
    }

    h1 {
        text-align: center;
        margin: 48px 0 32px;

        @include md {
            margin: 56px 0 40px;
        }

        @include lg {
            margin: 64px 0 48px;
        }

        @include xl {
            margin: 72px 0 56px;
        }
    }

    p {
        margin-top: 16px;

        a:link,
        a:visited {
            color: var(--mikadogreen);
            transition: .25s;
            text-decoration: none;
            display: inline-block;

            margin-right: 24px;

            @include lg {
                margin: 0;
            }

            &:hover,
            &:active {
                color: var(--buckthornbrown);
            }
        }
    }
}