#latewinter{
    margin-top: 72px;
    background-image: url('../../../deploy/img/hero1.png');
    background-size: cover;
    background-position: right;
    @include md{
        margin-top: 80px;
    }
    @include lg{
        margin-top: 88px;
    }
    @include xl{
        margin-top: 96px;
    }
    h2{
        color: var(--white);
        text-align: center;
        padding: 8px 24px 0;
        @include md{
            padding: 16px 24px 0;
        }
    }
    p{
        color: var(--white);
        text-align: center;
        margin: 24px 2px;
        @include md{
            margin: 24px 283px; 
        }
        @include lg{
            margin: 24px 411px; 
        }
        @include xl{
            margin: 24px 487px; 
        }
    }
    aside{
        display: flex;
        justify-content: center;
        button{
        margin-bottom: 8px;
        }
    }
}