#visit{
    background-image: url(../../../deploy/img/Desktop.png);
    background-size: cover;
    background-position: center;
    article{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: "text text . .";
        column-gap: 16px;
        @include md{
            grid-template-columns: repeat(8,1fr);
            grid-template-areas: ". text text . . . . .";
        }
        @include lg{
            grid-template-columns: repeat(12,1fr);
            grid-template-areas: ". . . text text . . . . . . .";
        }
        section{
            grid-area: text;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 40px 0;
            @include md{
                margin: 45px 0;
            }
            @include xl{
                margin: 72px 0;
            }
            h3{
                text-align: center;
                color: var(--white);
            }
            h5{
                text-align: center;
                color: var(--white);
                margin-bottom: 16px;
            }
            img{
                width: 20px;
                margin-bottom: 16px;
            }
        }
    }
}