/* =============
    Typography
============= */
h1,h2,h3,h4,h5,p{
    font-family: 'Besley', serif;
}

h1{
    font-size: rem-calc(40);
    font-weight: 800;
}
h2{
    font-size: rem-calc(32);
    font-weight: 700;
}
h3{
    font-size: rem-calc(24);
    font-weight: 700;
}
h4{
    font-size: rem-calc(24);
    font-weight: 600;
}
h5{
    font-size: rem-calc(16);
    font-weight: 600;
}
p{
    font-size: rem-calc(16);
    font-weight: 500;
}