/* =============
    Header
============= */
#header {

    position: fixed;
    background-color: var(--white);
    width: 100%;
    top: 0;
    right: 0;

    div {
        margin: 0 8px;
        grid-area: content;
        display: flex;
        justify-content: space-between;

        @include md {
            margin: 0 16px;
        }

        a {
            img {

                height: 48px;
                width: auto;
                margin: 12px 0;

                @include md {
                    height: 50px;
                    margin: 15px 0;
                }

                @include lg {
                    height: 52px;
                    margin: 18px 0;
                }

                @include xl {
                    height: 54px;
                    margin: 21px 0;
                }
            }
        }

        aside {
            display: flex;
            column-gap: 16px;
            align-items: center;

            button {
                background-color: transparent;
                width: 29px;

                img {
                    height: 29px;
                }
            }

            #burger-btn {
                @include lg {
                    display: none;
                }

                img {
                    height: 21px;
                }
            }
        }
    }
}