/* =============
    Buttons
============= */
button {
    margin: 0;
    padding: 0;
    width: 170px;
    height: 60px;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: rem-calc(16);
    font-weight: 400;
}

.explore {
    background-color: var(--buckthornbrown);
}

.explore:hover {
    background-color: var(--groovygiraffe);
}

.shop {
    background-color: var(--chestnutplum);
}

.shop:hover {
    background-color: var(--groovygiraffe);
}

.directions {
    background-color: var(--white);
    border: 2px solid var(--sapgreen);
    color: var(--sapgreen);
}

.directions:hover {
    background-color: var(--sapgreen);
    color: var(--white);
    border-color: var(--white);
}

.subscribe {
    background-color: var(--navygreen);
}

.subscribe:hover {
    background-color: var(--sapgreen);
}